@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background:#eee;
}
section{
    padding:2rem 9%;
}
.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:black;
}
.heading span{
    background: orange;
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid black;
    color:black;
    cursor: pointer;
    background: none;
}
.btn:hover{
    background:  orange;
    color:#fff;
}
.head{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}
.head .site_logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
}
.head .site_logo i{
    color:orange;
}
.head .stat_navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:black;
}
.head .stat_navbar a:hover{
    color:orange;
}
.head .nav_icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:black;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}
.head .nav_icons div:hover{
    background: orange;
    color:#fff;
}
#menu-btn{
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.home .content{
    text-align: center;
    width:60rem;
}
.home .content h3{
    color: black;
    font-size: 3rem;
}
.home .content h3 span{
    color: orange;
}
.home .content p{
    color:var(--light-color);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}
.review .review-slider{
    padding:1rem;
}
.review .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.review .review-slider .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}
.review .review-slider .box img{
    height:10rem;
    width:10rem;
    border-radius: 50%;
}
.review .review-slider .box p{
    padding:1rem 0;
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
}
.review .review-slider .box h3{
    padding-bottom: .5rem;
    color: black;
    font-size: 2.2rem;
}
.review .review-slider:hover{
    border: 1px solid black;
    padding: 0;
}
.review .review-slider .box .stars i{
    color:orange;
    font-size: 1.7rem;
}
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background:#fff;
}
.blogs .box-container .box img{
    height:25rem;
    width:100%;
    object-fit: cover;
}
.blogs .box-container .box .content{
    padding:2rem;
}
.blogs .box-container .box .content .nav_icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}
.blogs .box-container .box .content .nav_icons a{
    color:var(--light-color);
    font-size: 1.5rem;
}
.blogs .box-container .box .content .nav_icons a:hover{
    color: black;
}
.blogs .box-container .box .content .nav_icons a i{
    color:orange;
    padding-right: .5rem;
}
.blogs .box-container .box .content h3{
    line-height: 1.8;
    color: black;
    font-size: 2.2rem;
    padding:.5rem 0;
}
.blogs .box-container .box .content p{
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
}
.foot{
    background: #fff;
}
.foot .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.foot .box-container .box h3{
    font-size: 2.5rem;
    color: black;
    padding:1rem 0;
}
.foot .box-container .box h3 i{
    color: orange;
}
.foot .box-container .box .hlink{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}
.foot .box-container .box .hlink i{
    color:orange;
    padding-right: .5rem;
}
/* .foot .box-container .box .hlink:hover i{
    padding-right: 2rem;
} */
.foot .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: lightcoral;
    padding:1rem 0;
}
.foot .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: black;
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}
.foot .box-container .box .share a:hover{
    background: orange;
    color: #fff;
}
.foot .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
}
.foot .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}